@import "~@style/var.scss";

.pagination-content {
  display: flex;

  .pagination-item {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid $grey-color;
    border-radius: 5px;
    padding: 5px 8px;
    margin-right: 12px;
    font-size: 18px;
    font-weight: 300;
    transition: all 0.2s;

    &.pagination-item-active,
    &:hover {
      color: $blue-color;
      border-color: $blue-color;
    }

    &.pagination-ellipsis {
      width: 32px;
      border: 0;
      font-size: 12px;
      letter-spacing: 2px;
    }

    &.pagination-item-disabled {
      cursor: not-allowed;
      color: $grey-color !important;
      border-color: $grey-color !important;
    }
  }
}
